@import 'bootstrap/dist/css/bootstrap';

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#logo{
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

#home-container{
  margin-top: 25px;
}

.jumbotron{
  background-image: asset-url('jumbo-copy.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 475px;
}
