<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Agustina Corvo", "https://github.com/aguscorvo", class:"text-white-50"%></small>
  </div>
</footer>